.bold {
  font-weight: bold;
}
.textFormat {
  margin-right: 3px;
}
#city {
  font-size: 25px;
  font-weight: bold;
}
.center {
  text-align: center;
}
.border {
  border: 1px;
  background-color: rgb(75, 75, 241);
  color: white;
  margin-left: 15px;
  margin-right: 50px;
}
